    
    <div class="wrapper"></div>

    <!-- Preloader -->
    <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div> -->

    <!-- Navbar -->
    <app-header></app-header>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-sidebar></app-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0">Battery</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Battery</li>
            </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <button type="button" class="btn btn-sm btn-primary" (click)="add(addBatteryModal)"> <i class="fa fa-plus-square" aria-hidden="true"></i> ADD NEW </button>  &nbsp;
                                <button type="button" class="btn btn-sm btn-success" (click)="downloadFile('export', 'Battery List')"><i class="fa fa-download" aria-hidden="true"></i> EXPORT</button>
                                <br>
                                <br>
                                <table datatable [dtOptions]="dtOptions" class="row-border hover" class="table table-striped table-bordered" style="width:100%;">
                                    <tbody *ngIf="model?.length != 0">
                                        <tr *ngFor="let battery of model">
                                        <td>{{ battery.area_name }}</td>
                                        <td>{{ battery.site_name }}</td>
                                        <td>{{ battery.rectifier_name }}</td>
                                        <td>{{ battery.status }}</td>
                                        <td>{{ battery.battery_manufacturer_name }}</td>
                                        <td>{{ battery.type }}</td>
                                        <td>{{ battery.bank }}</td>
                                        <td>{{ battery.index_no }}</td>
                                        <td>{{ battery.capacity }}</td>
                                        <td>{{ battery.date_installed }}</td>
                                        <td>{{ battery.age_from_date_installed }}</td>
                                        <td>{{ battery.age_from_date_installed_group }}</td>
                                        <td>{{ battery.date_accepted }}</td> 
                                        <td class="text-center">
                                            <a  [routerLink]="" (click)="edit(editBatteryModal, battery)">&nbsp; <i class="fas fa-pencil-alt"> </i> </a> 
                                            <a  [routerLink]="" (click)="remove(battery)"> <i class="fas fa-trash-alt"> </i> </a> 
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Modal area--> 
    <ng-template #addBatteryModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="editProfileLabel">Add Battery</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
            
        <div class="modal-body">
            <form [formGroup]="batteryForm" (ngSubmit)="onSubmitSave()">
    
                <div class="row">
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Site</label><br>
                            <ng-select2 style="width: 100%" class="form-control" formControlName="site_id" [options]="optionsSite" >
                            </ng-select2>
                        </div>
                    </div>
    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Rectifier</label>
                            <ng-select2 style="width:100%" class="form-control"  formControlName="rectifier" [options]="optionsRectifier" >
                            </ng-select2>
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Manufacturer</label>
                            <ng-select2 style="width: 100%" class="form-control" formControlName="manufacturer" [options]="optionsManufacturer" >
                            </ng-select2>
                        </div>
                    </div>
    
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>Index No.</label>
                            <input type="text" class="form-control" formControlName="index_no" id="index_no" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Model</label>
                            <input type="text" class="form-control" formControlName="model" id="model" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Maintainer</label>
                            <input type="text" class="form-control" formControlName="maintainer" id="maintainer" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" formControlName="status" id="status" placeholder="Select Status">
                                <option [value]=null>Select Battery Status</option>
                                <option value='Active'>Active</option>
                                <option value='Inactive'>Inactive</option>
                                <!-- <option value='All Working'>All Working</option>
                                <option value='With Defective'>With Defective</option>
                                <option value='Decommissioned'>Decommissioned</option> -->
                            </select>
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Date Installed</label>
                            <input type="date" class="form-control" formControlName="date_installed" id="date_installed" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Date Accepted</label>
                            <input type="date" class="form-control" formControlName="date_accepted" id="date_accepted" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Capacity</label>
                            <input type="text" class="form-control" formControlName="capacity" id="capacity" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control" formControlName="type" id="type" placeholder="Select Type">
                                <option [value]=null>Select Battery Type</option>
                                <option value='LIB'>LIB</option>
                                <option value='VRLA'>VRLA</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bank</label>
                            <select class="form-control" formControlName="bank" id="bank" placeholder="Select Bank">
                                <option [value]=null>Select Battery Bank</option>
                                <option value='Bank 1'>Bank 1</option>
                                <option value='Bank 2'>Bank 2</option>
                                <option value='Bank 3'>Bank 3</option>
                                <option value='Bank 4'>Bank 4</option>
                                <option value='Bank 5'>Bank 5</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Brand</label>
                            <input type="text" class="form-control" formControlName="brand" id="brand" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Individual Cell Voltage</label>
                            <select class="form-control" formControlName="individual_cell_voltage" (ngModelChange)="onChangeIndividualCellVoltage($event)" placeholder="Select Ind Cell Voltage">
                                <option [value]=null>Select No. of cells</option>
                                <option [value]=2>2</option>
                                <option [value]=12>12</option>
                                <option [value]=48>48</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>No. of Cells</label>
                            <input type="text" class="form-control" formControlName="no_of_cells" id="no_of_cells" required="true" readonly>
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Cell Status</label>
                            <input type="text" class="form-control" formControlName="cell_status" id="cell_status" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Cable Size</label>
                            <input type="text" class="form-control" formControlName="cable_size" id="cable_size" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Back Up Time</label>
                            <input type="text" class="form-control" formControlName="backup_time" id="backup_time" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Float Voltage Requirement</label>
                            <input type="text" class="form-control" formControlName="float_voltage_requirement" id="float_voltage_requirement" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Remarks</label>
                            <textarea class="form-control" formControlName="remarks" id="remarks">
                            </textarea>
                        </div>
                    </div>
    
                    
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm  btn-secondary" (click)="modal.dismiss()">Close</button>
                    <button type="submit" class="btn btn-sm  btn-primary">Save</button>
                </div>
            </form>
    
        </div>
    </ng-template>



    <ng-template #editBatteryModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="editProfileLabel">Edit Battery Details</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
            
        <div class="modal-body">
            <form [formGroup]="batteryForm" (ngSubmit)="onSubmitUpdate()">
    
                <div class="row">
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Site</label><br>
                            <ng-select2 style="width: 100%" class="form-control" formControlName="site_id" [data]="defaultSite" [options]="optionsSite" >
                            </ng-select2>
                        </div>
                    </div>
    
                    <div class="col-md-3">
                        
                        <div class="form-group">
                            <label>Rectifier</label>
                            <ng-select2 style="width: 100%" class="form-control"  formControlName="rectifier" [data]="defaultRectifier" [options]="optionsRectifier" >
                            </ng-select2>
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Manufacturer</label>
                            <ng-select2 style="width: 100%" class="form-control" formControlName="manufacturer" [data]="defaultManufacturer" [options]="optionsManufacturer" >
                            </ng-select2>
                        </div>
                    </div>
    
                    <div class="col-md-1">
                        <div class="form-group">
                            <label>Index No.</label>
                            <input type="text" class="form-control" formControlName="index_no" id="index_no" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Model</label>
                            <input type="text" class="form-control" formControlName="model" id="model" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Maintainer</label>
                            <input type="text" class="form-control" formControlName="maintainer" id="maintainer" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" formControlName="status" id="status" placeholder="Select Status">
                                <option [value]=null>Select Battery Status</option>
                                <option value='Active'>Active</option>
                                <option value='Inactive'>Inactive</option>
                                <!-- <option value='All Working'>All Working</option>
                                <option value='With Defective'>With Defective</option>
                                <option value='Decommissioned'>Decommissioned</option> -->
                            </select>
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Date Installed</label>
                            <input type="date" class="form-control" formControlName="date_installed" id="date_installed" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Date Accepted</label>
                            <input type="date" class="form-control" formControlName="date_accepted" id="date_accepted" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Capacity</label>
                            <input type="text" class="form-control" formControlName="capacity" id="capacity" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control" formControlName="type" id="type" placeholder="Select Type">
                                <option [value]=null>Select Battery Type</option>
                                <option value='LIB'>LIB</option>
                                <option value='VRLA'>VRLA</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bank</label>
                            <select class="form-control" formControlName="bank" id="bank" placeholder="Select Bank">
                                <option [value]=null>Select Battery Bank</option>
                                <option value='Bank 1'>Bank 1</option>
                                <option value='Bank 2'>Bank 2</option>
                                <option value='Bank 3'>Bank 3</option>
                                <option value='Bank 4'>Bank 4</option>
                                <option value='Bank 5'>Bank 5</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Brand</label>
                            <input type="text" class="form-control" formControlName="brand" id="brand" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Individual Cell Voltage</label>
                            <select class="form-control" formControlName="individual_cell_voltage" (ngModelChange)="onChangeIndividualCellVoltage($event)" placeholder="Select Ind Cell Voltage">
                                <option [value]=null>Select No. of cells</option>
                                <option [value]=2>2</option>
                                <option [value]=12>12</option>
                                <option [value]=48>48</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>No. of Cells</label>
                            <input type="text" class="form-control" formControlName="no_of_cells" id="no_of_cells" required="true" readonly>
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Cell Status</label>
                            <input type="text" class="form-control" formControlName="cell_status" id="cell_status" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Cable Size</label>
                            <input type="text" class="form-control" formControlName="cable_size" id="cable_size" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Back Up Time</label>
                            <input type="text" class="form-control" formControlName="backup_time" id="backup_time" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Float Voltage Requirement</label>
                            <input type="text" class="form-control" formControlName="float_voltage_requirement" id="float_voltage_requirement" required="true">
                        </div>
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Remarks</label>
                            <textarea class="form-control" formControlName="remarks" id="remarks">
                            </textarea>
                        </div>
                    </div>
                    
                </div>
    
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm  btn-secondary" (click)="modal.dismiss()">Close</button>
                    <button type="submit" class="btn btn-sm  btn-primary">Save</button>
                </div>
            </form>
    
        </div>
    </ng-template>
    
    <!-- Modal area-->

    <app-footer></app-footer>
    <!-- ./wrapper -->
    <router-outlet></router-outlet>