::ng-deep table.dataTable td.dataTables_empty {
    display: none;
}

.form-control {
    height:30px;
    font-size: 10px;
}

.form-group label {
  font-size:10px;
}

::ng-deep ngb-modal-backdrop {
    z-index: 1050 !important;
}

::ng-deep .dataTables_wrapper {
    font-size: 10px;
}

::ng-deep .select2-results__options {
    font-size: 10px;
}

::ng-deep .select2-selection__rendered {
    font-size: 10px;
}

::ng-deep .select2-selection__choice {
    font-size: 10px;
    color: #000000 !Important
}

.dt-body-center {text-align: center;}

i {
    padding-right:2px;
    cursor: pointer;
}

i:hover{
    color: blue;
}