<div class="wrapper"></div>

<!-- Preloader -->
<!-- <div class="preloader flex-column justify-content-center align-items-center">
  <img class="animation__wobble" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
</div> -->

<!-- Navbar -->
<app-header></app-header>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<app-sidebar></app-sidebar>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v2</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-building"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">Sites</span>
                <span class="info-box-number">2,000</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-battery-full"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Battery</span>
              <span class="info-box-number">
                10
                <small>%</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-pallet"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Rectifier</span>
              <span class="info-box-number">41,410</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-wind"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">ACU</span>
              <span class="info-box-number">760</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      
      </div>
      <!-- /.row -->

 

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- <div class="card-header">
              <h5 class="card-title">Monthly Report</h5>
 
            </div> -->
            <!-- /.card-header -->
            <div class="card-body">

              <!-- Pie -->
              <div class="row">
                <div class="col-md-4">
                    <div id="chart">
                        <apx-chart
                            [series]="chartOptionsPie.series!"
                            [chart]="chartOptionsPie.chart!"
                            [labels]="chartOptionsPie.labels!"
                            [responsive]="chartOptionsPie.responsive!"
                            [legend]="chartOptionsPie.legend!"
                            [title]="chartOptionsPie.title!"
                        ></apx-chart>
                    </div>
                </div>
                <!-- PIE -->

                <!-- STACKBAR -->
                <div class="col-md-4">
                    <div id="chart">
                        <apx-chart
                        [series]="chartOptionsStackBars.series!"
                        [chart]="chartOptionsStackBars.chart!"
                        [dataLabels]="chartOptionsStackBars.dataLabels!"
                        [plotOptions]="chartOptionsStackBars.plotOptions!"
                        [xaxis]="chartOptionsStackBars.xaxis!"
                        [stroke]="chartOptionsStackBars.stroke!"
                        [fill]="chartOptionsStackBars.fill!"
                        [title]="chartOptionsStackBars.title!"
                        [tooltip]="chartOptionsStackBars.tooltip!"
                        [legend]="chartOptionsStackBars.legend!"
                        ></apx-chart>
                    </div>
                </div>
                <!-- STACKBAR -->


                <!-- TREEMAP -->
                <div class="col-md-4">
                <div id="chart">
                    <apx-chart
                    [series]="chartOptionsTreeMap.series!"
                    [chart]="chartOptionsTreeMap.chart!"
                    [dataLabels]="chartOptionsTreeMap.dataLabels!"
                    [plotOptions]="chartOptionsTreeMap.plotOptions!"
                    [title]="chartOptionsTreeMap.title!"
                    [legend]="chartOptionsTreeMap.legend!"
                    ></apx-chart>
                </div>
            </div>
            <!-- TREEMAP -->

              </div>
              
            </div>
            <!-- ./card-body -->
            <!-- <div class="card-footer">
               
            </div> -->
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->





    </div><!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<!-- <footer class="main-footer">
  <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 3.2.0
  </div>
</footer> -->

<!-- ./wrapper -->
<router-outlet></router-outlet>